<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zdu.simplenewsdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

	<application
		android:name=".MyApplication"
		android:allowBackup="true"
		android:icon="@drawable/logo"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".ui.NewsDetailsActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoActionBar.No"/>
		<activity
			android:name=".ui.WelcomeActivity"
			android:screenOrientation="portrait"
			android:theme="@style/StartAppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.LoginActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoActionBar.No"/>

		<activity
			android:name="com.mob.tools.MobUIShell"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:windowSoftInputMode="stateHidden|adjustResize">
			<intent-filter>
				<data android:scheme="tencent100371282"/>

				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<!-- 调用新浪原生SDK，需要注册的回调activity -->
			<intent-filter>
				<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<!-- 微信分享回调 -->
		<activity
			android:name=".wxapi.WXEntryActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		<!-- QQ第三方登录 -->
		<activity
			android:name="com.tencent.tauth.AuthActivity"
			android:launchMode="singleTask"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="1105640431"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.tencent.connect.common.AssistActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		<!-- IM -->
		<activity android:name=".ui.ConversationActivity"
		          android:screenOrientation="portrait"
		          android:theme="@style/AppTheme.NoActionBar.No"
		          android:windowSoftInputMode="stateHidden|adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data
					android:host="com.zdu.simplenewsdemo"
					android:pathPrefix="/conversation/"
					android:scheme="rong"/>
			</intent-filter>

		</activity>
		<!-- end -->

	</application>

</manifest>